.body {
  font-family: 'Lato', sans-serif;
}
h2 {
  font-size: 50px;
  margin: 0;
}
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: block;
  position: relative;
  border: 10px solid;
  border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35)
    rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.cat-info {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 10px;
  padding: 10px;
  border: 2px solid rgba(0, 0, 0, 0.301);
  border-radius: 8px;
  max-width: 1400px;
}
@media only screen and (max-width: 768px) {
  .cat-info {
    flex-direction: column;
  }
}

.cat-img {
  display: block;
  max-width: 100%;
  height: auto;
  flex-shrink: 0;
  border-radius: 8px;
}
@media only screen and (min-width: 768px) {
  .cat-img {
    height: 500px;
  }
}
.cat-text-bold {
  font-weight: 700;
}

.hidden {
  display: none;
}
